/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: PhotoSyncIcons;
  src: url("photosync_icons.ttf");
}

/* line 7, ../sass/fonticons/photosync_icons.scss */
.icon:before {
  font-family: 'PhotoSyncIcons';
}

/* line 10, ../sass/fonticons/photosync_icons.scss */
.icon-pictures:before {
  content: '\0021';
}

/* line 11, ../sass/fonticons/photosync_icons.scss */
.icon-folder:before {
  content: '\0022';
}

/* line 12, ../sass/fonticons/photosync_icons.scss */
.icon-exit:before {
  content: '\0023';
}

/* line 1, ../sass/layout/_body.scss */
body {
  font-family: sans-serif;
}

/* line 5, ../sass/layout/_body.scss */
#page-wrapper {
  background: #F0F0F0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #a0a0a0 1px 1px 4px;
  -moz-box-shadow: #a0a0a0 1px 1px 4px;
  box-shadow: #a0a0a0 1px 1px 4px;
  position: absolute;
  top: 10px;
  bottom: 20px;
  left: 10px;
  right: 10px;
  overflow: auto;
}

/* line 1, ../sass/layout/_header.scss */
.logo {
  position: absolute;
  left: 10px;
  top: 10px;
}
/* line 5, ../sass/layout/_header.scss */
.logo h1 {
  font-size: 30px;
  font-family: Sans-serif;
  text-shadow: 1px 1px 1px #a0a0a0;
}
/* line 9, ../sass/layout/_header.scss */
.logo h1.icon:before {
  margin-right: 10px;
  font-size: 50px;
  float: left;
}
/* line 15, ../sass/layout/_header.scss */
.logo .tagline {
  font-size: 13px;
  padding-left: 54px;
  color: #666666;
  font-style: italic;
  margin-top: 2px;
  text-shadow: 1px 1px 1px white;
}

/* line 24, ../sass/layout/_header.scss */
.tools {
  position: absolute;
  z-index: 4;
  right: 10px;
  top: 10px;
  left: 350px;
}
/* line 30, ../sass/layout/_header.scss */
.tools li {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  display: block;
  float: left;
  background-color: #999;
  margin-right: 40px;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.4s, box-shadow 0.4s;
  -moz-transition: background-color 0.4s, box-shadow 0.4s;
  -ms-transition: background-color 0.4s, box-shadow 0.4s;
  -o-transition: background-color 0.4s, box-shadow 0.4s;
  transition: background-color 0.4s, box-shadow 0.4s;
}
/* line 40, ../sass/layout/_header.scss */
.tools li.icon:before {
  color: white;
  font-size: 26px;
  display: block;
  margin: 8px;
}
/* line 47, ../sass/layout/_header.scss */
.tools li span {
  font-weight: bold;
  color: #777;
  display: block;
  position: absolute;
  bottom: -1em;
  left: -30px;
  width: 100px;
  text-align: center;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0s ease 0.4s;
  -moz-transition: opacity 0.4s, visibility 0s ease 0.4s;
  -ms-transition: opacity 0.4s, visibility 0s ease 0.4s;
  -o-transition: opacity 0.4s, visibility 0s ease 0.4s;
  transition: opacity 0.4s, visibility 0s ease 0.4s;
  text-shadow: 0 0 2px white;
}
/* line 68, ../sass/layout/_header.scss */
.tools li:hover {
  background-color: #777;
  -webkit-box-shadow: 0 0 4px #444444;
  -moz-box-shadow: 0 0 4px #444444;
  box-shadow: 0 0 4px #444444;
  -webkit-transition: background-color 0.4s, box-shadow 0.4s;
  -moz-transition: background-color 0.4s, box-shadow 0.4s;
  -ms-transition: background-color 0.4s, box-shadow 0.4s;
  -o-transition: background-color 0.4s, box-shadow 0.4s;
  transition: background-color 0.4s, box-shadow 0.4s;
}
/* line 72, ../sass/layout/_header.scss */
.tools li:hover span {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  visibility: visible;
  opacity: 1;
}

/* line 1, ../sass/layout/_footer.scss */
footer {
  position: absolute;
  right: 10px;
  bottom: 4px;
  font-size: 10px;
  color: #666;
}

/* line 6, ../sass/app/_photosync.scss */
#photoSync {
  position: absolute;
  top: 70px;
  bottom: 10px;
  right: 10px;
  left: 10px;
}
/* line 13, ../sass/app/_photosync.scss */
#photoSync .photos {
  position: absolute;
  top: 0;
  bottom: 60px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
}
/* line 26, ../sass/app/_photosync.scss */
#photoSync .cameras {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  z-index: 100;
  background: #F0F0F0;
}
/* line 34, ../sass/app/_photosync.scss */
#photoSync .cameras ul {
  height: 100%;
}
/* line 36, ../sass/app/_photosync.scss */
#photoSync .cameras ul li {
  height: 178px;
  display: block;
  font-size: 11px;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #FFF;
  overflow: hidden;
  position: relative;
}
/* line 45, ../sass/app/_photosync.scss */
#photoSync .cameras ul li span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  top: 0px;
  left: 30px;
  diplay: block;
  width: 500px;
  left: 6px;
  top: 98%;
  text-align: left;
}
/* line 62, ../sass/app/_photosync.scss */
#photoSync .timeadjust {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  bottom: 0;
  background-color: #F0F0F0;
  z-index: 100;
}
/* line 73, ../sass/app/_photosync.scss */
#photoSync .photo-ct-outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  right: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #F9F9F9;
}
/* line 83, ../sass/app/_photosync.scss */
#photoSync .photos-ct {
  height: 100%;
}
/* line 86, ../sass/app/_photosync.scss */
#photoSync .photostream {
  position: relative;
  height: 179px;
  border-bottom: 1px solid #E9E9E9;
  width: 100%;
}
/* line 91, ../sass/app/_photosync.scss */
#photoSync .photostream ul {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 0, 0.15);
}
/* line 96, ../sass/app/_photosync.scss */
#photoSync .photostream ul li {
  position: absolute;
  top: 0px;
  bottom: 0px;
}
/* line 100, ../sass/app/_photosync.scss */
#photoSync .photostream ul li:nth-child(3n+2) {
  top: 8%;
}
/* line 103, ../sass/app/_photosync.scss */
#photoSync .photostream ul li:nth-child(3n+3) {
  top: 16%;
}
/* line 106, ../sass/app/_photosync.scss */
#photoSync .photostream ul li:nth-child(3n+4) {
  top: 24%;
}
/* line 113, ../sass/app/_photosync.scss */
#photoSync .photostream span.image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: white;
  -webkit-box-shadow: #aaaaaa 1px 1px 3px;
  -moz-box-shadow: #aaaaaa 1px 1px 3px;
  box-shadow: #aaaaaa 1px 1px 3px;
  padding: 8px;
  cursor: default;
}
/* line 121, ../sass/app/_photosync.scss */
#photoSync .photostream span.image img {
  -webkit-box-shadow: #cccccc 0 0 2px;
  -moz-box-shadow: #cccccc 0 0 2px;
  box-shadow: #cccccc 0 0 2px;
  display: block;
}
/* line 125, ../sass/app/_photosync.scss */
#photoSync .photostream span.image:hover {
  z-index: 10;
}
/* line 131, ../sass/app/_photosync.scss */
#photoSync .photostream span.metadata {
  display: none;
}

/* line 3, ../sass/app/_base.scss */
.ui-draggable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* line 6, ../sass/app/_base.scss */
.ui-draggable-dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
