
/*$row-height:180px;
$cameras-width:30px;
$timeadjust-width:200px;
$timeline-height:10%;*/
$savetools-height:10%;
$savetools-width:300px;


#photoSave{
    @extend .abstract-view;

    //layout positioning
    .photos{
        padding:10px;
        position:absolute;
        top:0;
        bottom:$savetools-height;
        left:0px;
        right:0px;
        overflow:auto;
        @include border-radius(2px);
        border:1px solid #E0E0E0;
        background:#F9F9F9;
    }


    .photostream{
        span.image{
            @extend .abstract-photo;
        }
        span.metadata{
            display:none;
        }
        li{
            float:left;
            width:$photo-minDimension + 26;
            height: $photo-minDimension + 26;
            display:block;
            position:relative;
        }
    }
    
    .wizardnav{
        @extend .abstract-wizardnav;
        height:$savetools-height;
        width:$savetools-width;
        
        li.action{
            display:block;
        }
        li.action-finish{
            text-align:right;
            &:after{
                @extend .icon-tick:before;
            }    
        }
        li.action-previous{
            right:$wizardnav-tool-width + 30;
            &:before{
                @extend .icon-arrow-left:before;
            }
        }
    }
    
}
