
$row-height:180px;
$cameras-width:30px;
$timeadjust-width:200px;
$timeline-height:10%;

#photoSync{
    @include user-select(none);
    position:absolute;
    top:70px;
    bottom:10px;
    right:10px;
    left:10px;

    .photos{
        position:absolute;
        top:0;
        bottom:$timeline-height;;
        left:0px;
        right:0px;
        overflow:hidden;
        @include border-radius(2px);
        border:1px solid #E0E0E0;
    }
    

    .cameras{
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        width:$cameras-width;
        z-index:100;
        background:#F0F0F0;
        ul{
            height:100%;
            li{
                height:$row-height - 2;
                display:block;
                font-size:11px;
                @include box-shadow(#CCC -1px -1px 0 0 inset);
                overflow:hidden;
                position:relative;
                @include ellipsis;
                white-space: nowrap;
                &:after{
                        content:'';
                        position:absolute;

                        top:0px;
                        left:0px;
                        right:1px;
                        height:20px;
                        border-top:1px solid #FFF;
                        background-color:#F0F0F0;
                        @include background(linear-gradient(#F0F0F0 , transparentize(#F0F0F0,1)));
                        z-index:1;
                    }
                span{
                    $camera-span-width:500px;
                    @include rotate(-90deg);
                    @include transform-origin(0, 0);
                    position:absolute;
                    top:0px;
                    display:block;
                    width:$camera-span-width;
                    padding-left:2px;
                    left: 6px;
                    top: 98%;
                    text-align:left;
                }
            }
        }
    }

    .timeadjust{
        color:#666;
        position:absolute;
        right:0px;
        top:0px;
        width:$timeadjust-width;
        bottom:0;
        background-color:#F0F0F0;
        z-index:100;

        ul{
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    }
    li.timeadjuster{
        position:relative;
        @include box-shadow(#CCC 1px -1px 0 0 inset,#FFF 0 1px 0 0 inset);
        div.adjuster-wrapper{
            position:absolute;
            top:50%;
            bottom:50%;
            left:0;right:0;
            margin-top:-26px;
            & > span{
                float:left;
                position:relative;
                display:block;
                width:44px;
                height:40px;
                .value{
                    display:block;
                    height:100%;
                }
                &.plusminus{
                    width:20px;
                    height:20px;
                    margin-top:10px;
                    text-align:right;
                    cursor:pointer;
                    color:#999;
                    &.plusminus:hover:before{
                        @extend .icon-circle-refresh:before;
                        color:#990000;
                    }
                }
            }
        }

        .modifiers{
            position:absolute;
            top:0px;
            right:0;
            line-height:10px;
            & > span{
                cursor:pointer;
                display:block;
                width:12px;
                height:12px;
                &:before{
                    font-size:12px;
                }
                margin-bottom:4px;
            }
        }
        span.label{
            display:block;
            position:absolute;
            bottom:0px;
            left:0;
            right:0px;
            text-align:center;
            font-size:11px;
            font-weight:normal;
        }
        span.number{
            position:absolute;
            left:-2px;
            right:10px;
            width:32px;
            top:2px;
            color: #333;
            background:none;
            border:none;
            display:block;
            text-align:right;
            font-size:26px;
        }



    }


    .photo-ct-outer{
        position:absolute;
        top:0;
        bottom:0;
        left:$cameras-width;
        right:$timeadjust-width;
        overflow-x:hidden;
        overflow-y:hidden;
        background-color:#F9F9F9;
    }
    
    .time-dividers{
        position:absolute;
        z-index:0;
        left:0;
        top:0;
        bottom:0;
        & > div{
            display:none;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
        & > div.active{
            display:block;
        }
        
        div.divider{
            position:absolute;
            top:0px;
            border-left:2px solid #D6D6D6;
            height:100%;
            width:0;
            span.timestring{
                display:block;
                position:absolute;
                width:300px;
                right:14px;
                top:4px;
                font-size:10px;
                font-weight:bold;
                color:#909090;
                text-align:right;
                height:12px;
                @include rotate(-90deg);
                @include transform-origin(100%, 0);
                span.secondary{
                    display:none;
                }
            }
        }

        div.next div.divider{
            border-left:1px solid #E6E6E6;
            span.timestring{
                font-weight:normal;
                color:#B0B0B0;
                span.primary{
                    display:none;
                    
                }
                span.secondary{
                    display:inline;
                }
            }
            
        }
        
    }
    
    .photos-ct{
        height:100%;
    }
    .photostream{
        position:relative;
        @include box-shadow(#E6E6E6 0px -1px 0 0 inset,#FFF 0 1px 0 0 inset);
        width:100%;
        ul{
            position:absolute;
            top:0;
            bottom:0;
            background-color:transparentize(#0000FF, 0.90);
            li{
                position:absolute;
                top:0px;
                bottom:0px;

                &:nth-child(3n+2){
                    top:8%;
                }
                &:nth-child(3n+3){
                    top:16%;
                }
                &:nth-child(3n+4){
                    top:24%;
                }
            }
        }


        span.image{
            z-index:2;
            position:relative;
            top:0;
            left:-50%;
            display:block;
            background:white;
            @include box-shadow(#AAA 1px 1px 3px);
            padding:8px;
            img{
                @include box-shadow(#CCC 0 0 2px);
                display:block;
            }
            &:hover{
                z-index:10;
            }
            cursor:default;

        }
        span.metadata{
            display:none;
        }
    }

    .timeline{
        position:absolute;
        left:$cameras-width;
        top:100-$timeline-height;
        bottom:0;
        right:$timeadjust-width;
        background-color:#FFFFFF;
    }
    .wizardnav{
        position:absolute;
        right:0;
        top:100-$timeline-height;
        bottom:0;
        width:$timeadjust-width;
        ul.actions{
            position:absolute;
            top:50%;
            bottom:50%;
            left:0;
            right:0;
        }
        
        li.action-next{
            position:absolute;
            display:block;
            right:0;
            top:-9px;
            height:18px;
            @include border-radius(20px);
            background-color:#999;
            cursor:pointer;
            padding:4px 10px;
            color:white;
            @include text-shadow(1px 1px 1px  #666);
            font-size:16px;
            
            &.disabled{
                opacity:0.3;
                cursor:default;
            }
            
            &:after{
                font-family: 'PhotoSyncIcons';
                @extend .icon-arrow-right:before;
                color:white;
                margin-left:10px;
            }
        }
    }
}
