            <div class="adjuster-wrapper">
                <span class="plusminus icon icon-plus"></span>
                <% _.each([
                          {type:'days', name:'days'},
                          {type:'hours', name:'hours'},
                          {type:'mins', name:'minutes'},
                          {type:'secs', name:'seconds'}
                     ],function(item, index){ %>
                    <span class="<%= item.type %>">
                        <span class="value"><span class="label"><%= item.name %></span><span class="number"></span></span>
                        <span class="modifiers">
                            <span class="up icon icon-up"></span>
                            <span class="down icon icon-down"></span>
                        </span>
                    </span>
                <% }) %>
            </div>
